{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false,
    "__CLIENT__": false,
    "__LOGGER__": false,
    "__DEVTOOLS__": false,
  },
  "rules": {
    "semi" : [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "arrow-spacing": 1,
    "space-before-blocks": 1,
    "no-spaced-func": 1,
    "curly": 1
  }
}
